<div class="cms-block">
  <div align="center">
    <!-- START:flash -->
    <% if flash[:notice] -%>
      <div id="notice"><%= flash[:notice] %></div>
    <% end -%>
    <!-- END:flash -->
  </div>

  <div id="site-pref-list">
    <h1  class="cms-header">Page template</h1>

    <center><%= link_to 'New Page template', :action=>:create_empty_record,:typeofrecord=>"page_template" %></center>

    <%  @page_templates.each do |page_template| %>
      <div class="hr"></div>
      <table width ="100%"cellpadding="5" cellspacing="0">
        <tr class="list-table" valign="top" class="<%= cycle('list-line-odd', 'list-line-even') %>"  onclick = "window.location.href ='<%=url_for(:controller => 'page_templates', :id => page_template.id,  :action => 'edit')%>' "  style = "cursor:pointer" >
                      <td align="left">
    <span class="list-title"><%= page_template.title %></span>
          </td>
                   <td align="left">
    <span class="list-title"><%= page_template.description %></span>
          </td>
          
        </tr>
      </table>
      <div align="right" class="image-delete-list" >
        <%=link_to image_tag ("interface/Button-Delete.png", :border=>"0") , page_template,:on_click=>"", :confirm => 'Are you sure?', :method => :delete %>
      </div>
    <% end %>
    <div class="hr"></div>

  </div>
    <center><%= link_to 'New Page template', :action=>:create_empty_record,:typeofrecord=>"page_template" %></center>
</div>
