<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<%= tinymce_assets %>

<p>
    <b>HTML Code:</b><br>
    <%=form_for(@menu, :remote=>true) do |f| %>
    
  <%#= f.submit "Update"%><br>
      <%= f.submit "Update", :class=>"hidden-item"%><br>

  <center>
      <%= f.text_area :rawhtml, :class => "tinymce" , :rows => 40, :cols => 120 %>
      <%= tinymce :default, save_onsavecallback: "mysave" , height: "375", width: "950"%>

  </center>
  <br>
<% end %>
<%#=editablefieldcreate2("rawhtml", @menu)%>
</p>