<div id="field_<%=menu_list.id.to_s%>" class="targetable">
    <div class="hidden-item">
        <div id="parent-id"><%=menu_list.id rescue 0%></div>
    </div>
    <div class="hr"></div>
    <table width ="100%" cellpadding="5" cellspacing="0" border="0" class="<%= 'has-sub-menus' if (menu_list.menus.count > 0) %> " >
        <tr class="list-table">
            <td width="10" <%= "class=menu-drag" if menu_list.parent_id!=0%> >
            </td>
            <td align="left"  valign="top" class="menu-item  <%= cycle('list-line-odd', 'list-line-even') %>"  style = "cursor:pointer" >
                <span class="list-title <%=menu_list.menu_active ? "" : "menu-disabled"%> "> <div id="menu-id" class="hidden-item"><%=menu_list.id%></div>       <div id="menu-id-<%=menu_list.id.to_s%>" class="<%=("lever-toggle #{menu_list.menus.count > 0 ? 'closed' : 'disabled' }") %>"> </div> <%=h menu_list.name.html_safe %></span>
            </td>
            <td>
                <div align="right" class="image-delete-list2" >
                    <%=menu_delete(menu_list)%>
                </div>
                <div align="right" class="add_sub_menu" >
                    <%=link_to image_tag("interface/Download-icon-16.png", :border=>"0") , {:action=>:create_empty_record,:typeofrecord=>"Child", :parent_id=>menu_list.id}, {:remote=>true, :class=>"create-menu"}%>
                </div>
            </td>
        </tr>
    </table>


    <ul id='sortable_<%=menu_list.id.to_s%>' data-id='#sortable_<%=menu_list.id.to_s%>' class="draggable_menu_item sub-menu-item-closed">
        <%=render :partial=>"menu_list.html", :collection=>menu_list.menus%>
    </ul>
</div>

<%#*<script type="text/javascript">%>
<%#*makeDraggable();%>
<%#*</script>%>


<%#= sortable_element("sortable_"+menu_list.name.gsub(" ", "-"),
:url => {:action => 'update_order', :name=>"sortable_"+ menu_list.name.gsub(" ", "-")},
:tag=> "div", :constraint=>'vertical', :overlap=>'vertical', :handle=>".menu-drag") %>
