<%= if @menu.parent_id == 0 then
  create_dialog_settings("Edit Menu Head", "300", "200")
else
  create_dialog_settings("Edit Menu", "650", "500")
end %>

<div class="hidden-item">
    <div id="top-parent"><%=@menu.find_top_level_parent %></div>
    <div id="max-images">1</div>
</div>

<!-- <div class="cms-content"> -->


    <p>
        <b>Name:</b><br>
        <%=editablefieldcreate("name", @menu)%>
    </p>

    <p>
        <b> Active: </b><br>
        <%=editablecheckboxedit("menu_active", @menu, "Menu Active")%>
    </p>  
    </br>  


    <%if @menu.parent_id!=0 then %>

      <p>
          <b>Display:</b><br>

          <%=editablecheckboxedit("has_image", @menu, "Uses Image")%>

      <div class="imagesection">
          <!-- START:hidden_div -->
          <%= hidden_div_if(@menu.pictures.empty?, :id => "images") %>
          <%= render(:partial => "/pictures/picture_list", :object => @menu.pictures) %>
          <%="</div>".html_safe %>


          <%= hidden_div_if(@menu.pictures.count >0, :id => "imagebutton") %>
          <%= render(:partial => "/pictures/upload_button_multi") %>
          <%#=  render(:partial => "/pictures/upload_button")%>
          <%="</div>".html_safe %>

          <%= render(:partial=>"/pictures/upload_template") %>
      </div> 
  </p>
  <p>
      <b>Type of Menu:</b>

      <%=ajax_select("m_type","menu",@menu, @menu_type)%><br><br>

  <div id="menu-options" data-id="<%=@menu.id%>">

      <%=render :partial=>(@menu_type.select{|name,id| id==@menu.m_type.to_i}.first.first+ "_type.html") rescue ""%>

  </div>
  </p>

  <p></p>
<%end%>
<!-- </div>  -->
