
<%= create_dialog_settings("My Account Information", "650", "500") %>
<div class="hidden-item">
    <div id="user-id"><%= session[:user_id] %> </div>
</div>
<div class="cms-block" Align="Left">
    
<%   $user =  User.find_by_id(session[:user_id])
     $roles = $user.roles
 %>

 <div id="flash" align="center">
  <!-- START:flash -->
      <% if flash[:notice] -%>
        <div id="notice"><%= flash[:notice] %></div>
      <% end -%>
      <!-- END:flash -->
</div>
<!-- <div class="cms-header">My Account Information</div> -->
 <div class="cms-section">
   <div class="cms-heading">About Me</div>
      <div class="cms-content">

        <%  if @user.not_activated? %>
        <p>
          <b>Account has not been activated.</b><br>
            <%= link_to "Resend Activate Code" , :controller =>'registration', :action=>'lostwithemail',  :name=>@user.name %>
        </p>
         <%else%>
        <%end%>

        
        <div id="avitar-div" title="click on picture to go to gravatar.com and create or edit your avatar.">        
        <%= link_to(image_tag(@user.gravatar_url,:class=>"avitar"), "http://gravatar.com", :target=>"new") %>
      </div>        
        
        <p>
        <b>First Name:</b><br>
        <%=editablefieldcreate("first_name", @user_attributes)%>
        </p>

         <p>
        <b>Last Name:</b><br>
        <%=editablefieldcreate("last_name", @user_attributes)%>
        </p>
        
        <p>
        <b>Email Address:</b><br>
        <%=editablefieldcreate("name", @user)%>
        </p>

        <p>
        <b>Nick Name:</b><br>
        <%=editablefieldcreate("handle", @user_attributes)%>
        </p>
        
        <p>
        <div class="button-link" id="password-user-item">Change Password</div>
        
<%#=editablefieldcreate2("password", @user)%> </br>
        </p>

         <%#*<p>%>
          <%#*<b>Birthday:</b><br>%>
            <%#=ajax_calendar_date_select ("birthdate",@user_attributes)%>
        <%#*</p>%>

      </div>
 </div>


<%= build_pane_additions() %>


<div class="cms-section">
   <div class="cms-heading">My Account</div>
   <div class="cms-content">
It's <%= Time.now %>

<br>
You are an
<%for role in $roles do %>
                <%=role.name %>,
<%  end %>
<br>

   </div>
 </div>





</div>
