<%= create_dialog_settings("Site Preferences", "650", "500") %>

<div class="cms-block" Align="Left">
  <%   $user =  User.find_by_id(session[:user_id])
  $roles = $user.roles
%>

  <div id="flash" align="center">
    <!-- START:flash -->
    <% if flash[:notice] -%>
      <div id="notice"><%= flash[:notice] %></div>
    <% end -%>
    <!-- END:flash -->
  </div>



  <!-- <div class="cms-header">Site Preferences</div> -->

  <div class="cms-section">
    <div class="cms-heading">Company Information</div>
    <div class="cms-content">
      <p>
        <b>Web Site URL</b><br>
        <%=editablefieldcreate("company_url", @settings)%>
      </p>
      <p>
        <b>Admin Email Address</b><br>
        <%=editablefieldcreate("admin_email", @settings)%>
      </p>
      <p>
        <b>Name:</b><br>
        <%=editablefieldcreate("company_name", @settings)%>
      </p>
      <p>
        <b>Street Address:</b><br>
        <%=editablefieldcreate("company_address", @settings)%>
      </p>
      <p>
        <b>Phone Number:</b><br>
        <%=editablefieldcreate("company_phone", @settings)%>
      </p>
      <p>
        <b>Fax Number:</b><br>
        <%=editablefieldcreate("company_fax", @settings)%>
      </p>
      <p>
      </p>
    </div>
  </div>


  
  
  
  <div class="cms-section">
    <div class="cms-heading">Tracking Codes</div>
    <div class="cms-content">
      <p>
        <b>Google Analytics:</b><br>
        <%=editablefieldcreate("google_analytics", @settings)%>
      </p>
      <p>
        <b>Google Tag Manager:</b><br>
        <%=editablefieldcreate("google_tag_manager", @settings)%>
      </p>
      <p>

      </p>
    </div>
  </div>
  <div class="cms-section">
    <div class="cms-heading">Site Status</div>
    <div class="cms-content">
      </br>

<%#=link_to("reload!", {:action=>:reload_rails_env}, {})%>

      <p>
        <b> Server System time is:  <%= Time.now %> </b>
      </p>
      
      <div id="site-status" class="<%= site_down() == true ? 'site-down' : 'site-up'  %> ">
        <%=  site_status(site_down()) %>
      </div>
      
      <p>
        <%=link_to 'Turn Site '+ (site_down() ? "ON" : "OFF"), {:controller => 'admin', :action => 'toggle_index'}, :id=>"site-button", :remote=>true%>
      </p>
      </br></br>
       <p>
        <b> Click this link to reprocess all images:</b></br>
        <%=link_to 'Reproces all images', {:controller => 'admin', :action => 'reprocess_page_images'}, :id=>"process-image-button", :remote=>true%>
      </p>
      </br>
     

    </div>
  </div>





</div>
