<%=page_attr_display(nil,"true") %>
<%= tinymce_assets %>
<%= image_tag("interface/info.png") %>
<div class="cms-block" Align="Left">
  <div align="center">
    <!-- START:flash -->
    <% if notice -%>
      <div id="notice"><%= notice  %></div>
    <% end -%>
    <!-- END:flash -->
  </div>

  <div class="hidden-item">
    <div id="page-id"><%=@page.id%></div>
  </div>

  <div class="cms-header">Edit Page</div>
  <div class="cms-section">
    <div class="cms-heading">Information</div>
    <div class="cms-content">

      <p> 
        <b>Version: (looking at version:<%=params[:version]%>)</b><br>
             <%=link_to((params[:version]==@page.versions.last.number.to_s) ? "(#{@page.versions.last.number})":@page.versions.last.number , :version=>@page.versions.last.number) rescue "No Versions Found!"%>
        <% @page.versions.reverse.each do |page| %>
          | <%=link_to((params[:version]==(page.number-1).to_s) ? "(#{page.number-1})":page.number-1 , :version=>page.number-1) %> 
        <% end %>
        </br>
      </p>
      </br>

      <p>
        <b>Title:</b><br>
        <%=editablefieldcreate("title", @page)%>
      </p>

      <p>
        <b>Secure Page: </b><br>
        <%=editablecheckboxedit("secure_page", @page, "Secure Page")%>
      </p>
          <%=create_group_checks_live(":security_group_id", @page, Role.all.map {|i| i.name }, "security_group", {:class=>"security-check"} )%>
      <p>
        <b>Full Screen:</b><br>

        <%=editablecheckboxedit("full_screen", @page, "Full Screen")%>
      </p>
      </br>

      <p>
      <b>Dialog Width and Height(if a pop up window)</b><br>

      <%=editablefieldcreate("dialog_width", @page)%>           <%=editablefieldcreate("dialog_height", @page)%>

      </p>

      <p>
        <b>Template:(leave blank for default)</b><br>
        <%=ajax_select("template_name","page",@page, @template_types, "Choose Template...")%><br><br>

      </p>
      
      <p>
      <b>Style:(leave blank for default)</b><br>
        <%=ajax_select("page_style","page",@page, @style_type, "Choose Style...")%><br><br>
      </p>
      
      
      <p>
        <b>Meta Description:</b><br>
        <%=editablefieldcreate("meta_description", @page)%>
      </p>

      <p>
        <b>Meta Keywords:</b><br>
        <%=editablefieldcreate("meta_keywords", @page)%>
      </p>

      <p>
        <b>Meta Robot:  </b><br>
        <%=editablefieldcreate("meta_robot", @page)%>
      </p>
<%#*<p>%>
<%#*<b>Active In Menu</b><br>%>
<%#=editablecheckboxedit("in_menu",@page,"Yes")%>
<%#*</p>%>

<%#*<p>%>
<%#*<b>Active In Menu</b><br>%>
<%#=ajax_select("menu_local","page",@page, @menu_location)%>
<%#*</p>%>

    </div>
  </div>

  <div class="cms-section">
    <div class="cms-heading">Slider</div>
    <div class="cms-content">
      <p>
        <b>Uses Slider on page:</b><br>
        <%=editablecheckboxedit("has_slider", @page, "Has Slider")%>
      </p>
      <p>
        </br>
        <b>Show Navigation:</b><br>
        <%=editablecheckboxedit("slider_show_nav", @page, "Navigation")%>
      </p>
      </br>
      <p>
        <b>Slider Width:</b><br>
        <%=editablefieldcreate("slider_width", @page)%>
      </p>       

      <p>
        <b>Slider Height:</b><br>
        <%=editablefieldcreate("slider_height", @page)%>
      </p>
      </br>
      </br>
      <%= link_to("Add Slider", {:controller=>:sliders, :action=>:create_empty_record, :page_id=>@page.id}, :remote=>true, :class=>"button-link", :id=>"add-slider")  %>
      </br>
      </br>
      <div id="sliders">
        <ul id="sliders">
          <%=render :partial=>"slider_list.html", :collection=>@page.sliders%>
        </ul>
      </div>
      </br>
    </div>
  </div>

  <div class="cms-section">

    <div class="cms-heading cms-headingmce">Body</div>
    <div class="cms-content">

      <%#= text_area_tag :body, @page.body, :id => "page[body]", :class => "tinymce", :rows => 40, :cols => 120 %>

  <%=form_for(@page, :remote=>true, :id=>"page-body") do |f| %>
  <%= f.submit "Update", :class=>"hidden-item"%><br>

        <center>
          <%= f.text_area :body, :class => "tinymce" , :rows => 40, :cols => 120 %>
         <%= tinymce :default, save_onsavecallback: "mysave"%>
     </center>
        <br>
      <% end %>

    </div>
  </div>
  <div class="cms-section">

    <div class="cms-heading cms-headingmce">LIVE Preview</div>
    <div class="cms-content">
      <div class="display-area">
        <div style="display:inline-block; width:600px">
        <b>Full Screen:</b><br>
        <iframe class="preview" src="<%#= (not @page.menu.blank?)? @page.page_url :  url_for(:controller=> :site, :action=>:show_page, :id=>@page, :only_path=>true)%>" align="left" width="1024" height="800"></iframe>
        </div>
        <div style="display:inline-block; width:200px">
        <b>Mobile:</b><br>
          <iframe class="preview" src="<%#= (not @page.menu.blank?)? @page.page_url :  url_for(:controller=> :site, :action=>:show_page, :id=>@page, :only_path=>true)%>" align="left" width="400" height="800"></iframe>
        </div>
        </div>
    </div>
  </div>

  <p> <%= link_to '<< Back', request.env['HTTP_REFERER'], :class=>"button-link" %> <%= link_to 'Preview', ((not @page.page_url.blank?) ? @page.page_url :  url_for(:controller=> :site, :action=>:show_page, :id=>@page, :only_path=>true)) ,:class=>"button-link" %> </p>
</div>