<div class="hidden-item">
    <div id="as_window"><%=params[:request_type]=="window"%></div>
    <div id="dialog-height">650</div>
    <div id="dialog-width">1050</div>
    <div id="dialog-name">Edit Page</div>
</div>

<%=  page_info(@page) %>
<%= tinymce_assets %>

<p> 
    <b>Version: (looking at version: <span class="inline-item" id="version-number"><%=params[:version].blank? ? "current" : params[:version] %></span>)</b><br>
         <%=link_to((params[:version]==@page.versions.last.number.to_s) ? "(#{@page.versions.last.number})":@page.versions.last.number , {:version=>@page.versions.last.number, :format => :json},:remote=>true, :class=>'version-info') rescue "No Versions Found!"%>
    <% @page.versions.reverse.each do |page| %>
      | <%=link_to((params[:version]==(page.number-1).to_s) ? "(#{page.number-1})":page.number-1 , {:version=>page.number-1, :format => :json},:remote=>true, :class=>'version-info') %> 
    <% end %>
    </br>
</p>

<div id="page-tabs">
    <ul>
        <li><a href="#information-tab">Information</a></li>
        <li><a href="#slider-tab">Sliders</a></li>
        <li><a href="#body-tab">Body</a></li>
        <li><a href="#preview-tab">Live Preview</a></li>
    </ul>
    <div id="information-tab">
        <div class="cms-content">


            <p>
                <b>Title:</b><br>
                <%=editablefieldcreate("title", @page)%>
            </p>

            <p>
                <b>Secure Page: </b><br>
                <%=editablecheckboxedit("secure_page", @page, "Secure Page")%>
            </p>
            <%=create_group_checks_live(":security_group_id", @page, Role.all.map {|i| i.name }, "security_group", {:class=>"security-check"} )%>
            <p>
                <b>Full Screen:</b><br>

                <%=editablecheckboxedit("full_screen", @page, "Full Screen")%>
            </p>
            </br>

            <p>
                <b>Dialog Width and Height(if a pop up window)</b><br>

                <%=editablefieldcreate("dialog_width", @page,"Width in Pixels")%>           <%=editablefieldcreate("dialog_height", @page,"Height in Pixels")%>

            </p>

            <p>
                <b>Template:(leave blank for default)</b><br>
                <%=ajax_select("template_name","page",@page, @template_types, "Choose Template...")%><br><br>

            </p>

            <% if @style_type.length > 0 then %>
            <p>
                <b>Style:(leave blank for default)</b><br>
                <%=ajax_select("page_style","page",@page, @style_type, "Choose Style...")%><br><br>
            </p>
            <% end %>

            <p>
                <b>Meta Description:</b><br>
                <%=editablefieldcreate("meta_description", @page)%>
            </p>

            <p>
                <b>Meta Keywords:</b><br>
                <%=editablefieldcreate("meta_keywords", @page)%>
            </p>

            <p>
                <b>Meta Robot:  </b><br>
                <%=editablefieldcreate("meta_robot", @page)%>
            </p>
<%#*<p>%>
<%#*<b>Active In Menu</b><br>%>
<%#=editablecheckboxedit("in_menu",@page,"Yes")%>
<%#*</p>%>

<%#*<p>%>
<%#*<b>Active In Menu</b><br>%>
<%#=ajax_select("menu_local","page",@page, @menu_location)%>
<%#*</p>%>

        </div>
    </div>
    <div id="slider-tab">
        <div class="cms-content">
            <p>
                <b>Uses Slider on page:</b><br>
                <%=editablecheckboxedit("has_slider", @page, "Has Slider")%>
            </p>
            <p>
                </br>
                <b>Show Navigation:</b><br>
                <%=editablecheckboxedit("slider_show_nav", @page, "Navigation")%>
            </p>
            </br>
            <p>
                <b>Slider Width:</b><br>
                <%=editablefieldcreate("slider_width", @page)%>
            </p>       

            <p>
                <b>Slider Height:</b><br>
                <%=editablefieldcreate("slider_height", @page)%>
            </p>
            </br>
            </br>
            <%= link_to("Add Slider", {:controller=>:sliders, :action=>:create_empty_record, :page_id=>@page.id}, :remote=>true, :class=>"button-link", :id=>"add-slider")  %>
            </br>
            </br>
            <div id="sliders">
                <ul id="sliders">
                    <%=render :partial=>"slider_list.html", :collection=>@page.sliders%>
                </ul>
            </div>
            </br>
        </div>
    </div>
    <div id="body-tab">
        <div class="cms-content">

<%#= text_area_tag :body, @page.body, :id => "page[body]", :class => "tinymce", :rows => 40, :cols => 120 %>

            <%=form_for(@page, :remote=>true, :id=>"page-body", :format=>:json) do |f| %>
              <%= f.submit "Update", :class=>"hidden-item"%><br>

              <center>
                  <%= f.text_area :body, :class => "tinymce-page" , :rows => "80", :cols => "120" %>
                  <%= tinymce_settings(:default,"tinymce_config",{mode: "exact", selector: "textarea.tinymce-page", save_onsavecallback: "mysave", height: "375", width: "950", init_instance_callback: "tinyMcePostInit"})%>   
  <%#= tinymce :default, mode: "exact", selector: "textarea.tinymce-page" ,save_onsavecallback: "mysave", height: "375", width: "950", init_instance_callback: "tinyMcePostInit"%>
              </center>
              <br>
            <% end %>
            <div class="hidden-item">
                <%= form_for Picture.new, :html => {:multipart => true, id: "picture-paste-page"} do |f| %>
                  <span class="btn btn-success fileinput-button">
                      <i class="glyphicon glyphicon-plus"></i>
                      <span><%=image_tag("interface/browse.png", :id=>"file-button") %> </span>
                      <!-- The file input field used as target for the file upload widget -->
                      <%= f.file_field :image, :multiple=>true , :name=>"picture[image]" %>
                  </span>
                <% end %>
            </div>
            <script id="template-upload" type="text/x-tmpl">
                <div class="upload">
                {%=o.name%}
                <div class="progress"><div class="bar" style="width: 0%"></div></div>
                </div>
            </script>
        </div>

    </div>
    <div id="preview-tab">
        <div class="cms-content">
            <div class="display-area">
                <div style="display:inline-block; width:600px">
                    <b>Full Screen:</b><br>
                    <iframe class="preview" src="<%= (not @page.menu.blank?)? @page.page_url :  url_for(:controller=> :site, :action=>:show_page, :id=>@page, :only_path=>true)%>" align="left" width="1024" height="800"></iframe>
                </div>
                <div style="display:inline-block; width:200px">
                    <b>Mobile:</b><br>
                    <iframe class="preview" src="<%= (not @page.menu.blank?)? @page.page_url :  url_for(:controller=> :site, :action=>:show_page, :id=>@page, :only_path=>true)%>" align="left" width="400" height="800"></iframe>
                </div>
            </div>
        </div>

    </div>
</div>



<%#*<p> <%= link_to '<< Back', request.env['HTTP_REFERER'], :class=>"button-link" %>
<%#= link_to 'Preview', ((not @page.page_url.blank?) ? @page.page_url :  url_for(:controller=> :site, :action=>:show_page, :id=>@page, :only_path=>true)) ,:class=>"button-link" %>
