<div class="hidden-item">
    <div id="slider-effect">
        slide
    </div>
    <div id="play_speed">
        0
    </div>
    <div id="slider-auto">
        false
    </div>
</div>

<%=page_data_attr%>

<div id="page-display-page">
    <% if notice -%>
      <div id="notice"><%= notice  %></div>
    <% end -%>

    <%=page_attr_display(@page) %>
    <%=page_edit_div(@page)%>

    <!--  <div id="slide-gallary-container"> -->
    <div id="page-slider-gallary-page" style="display:none;">
        <div id="slider-background">
        </div>
<%#=show_slider_gallary_v3(@page) %> 
        <%=show_flexslider_gallary(@page) %> 
    </div>
    <!--    </div>-->

    <div id="section-name-page">
<%#=get_page_name%>
    </div>


    <div id="page-body-page">
        <%=display_html(@page.body) rescue @page%>
    </div>
    <div id="page-scrollback-image" style="display:none;">
        <%=link_to(image_tag("site/scrollback_image.png"), "#top-of-page")%>
    </div>
</div>