    <!-- controller/action based style sheet and javascript -->
     
    <%= favicon_link_tag 'favicon.ico' %>
    <%= show_meta_page_data(@page) %>
    
    <title><%=Settings.company_name%> : <%=get_page_title%></title>
    
    <%=controller_stylesheet_link_tag%>
    <%=controller_javascript_include_tag%>
    <%=javascript_include_tag "silverweb_cms"%>
    <%=stylesheet_link_tag "silverweb_cms"%>
    <%#=stylesheet_link_tag "pages.css"%>
    
    <%= add_google_analytics%>
