<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
    
  <%= render "/layouts/silverweb_cms_head.html" %>

</head>
<body>
     <%= yield %>
</body>
</html>